

header > a > .shadowContainer > img {
  position: absolute;
  filter: invert(99%) sepia(98%) saturate(2%) hue-rotate(279deg)
    brightness(109%) contrast(101%);
  width: 5em;
  right: 0.2em;
  border-radius: 50%;
  -webkit-user-drag: none;
  cursor: pointer;
}

a {
  height: 5em;
}

.shadowContainer {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  position: absolute;
  left: 2em;
  right: 0;
}

header > a > .shadowContainer:hover {
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.226);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}

h2 {
  margin-bottom: 12px;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 65%;
  margin-top: 7%;
}

.individualInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 18em;
  height: 4em;
  color: white;
  background-color: var(--small-button);
  border-radius: 15px;
  box-shadow: 4px 0px 26px 5px rgba(0, 0, 0, 0.171);
  cursor: pointer;
  text-align: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: "Roboto";
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

#resInput {
  text-align: left;
  text-indent: 24px;
  border-radius: 15px 0 0 15px;
}

.individualInputContainer > input {
  cursor: default;
}

.inputUnitContainer {
  display: flex;
  flex-wrap: nowrap;
}

select {
  text-align: center;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 3em;
  height: 4.15em;
  color: white;
  background-color: var(--small-button);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  margin-left: 5px;
}

.textInfo {
  text-align: center;
  margin: 6em 0;
}


footer {
  color: white;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5px;
  text-align: center;
}

/* just responsive stuff from now on */

@media only screen and (max-height: 820px) {
  footer {
    position: relative;
    margin-top: 5em;
  }
}

@media only screen and (max-width: 970px) {
  header > h1 {
    font-size: 4vw;
  }

  #inputWithUnit {
    margin-top: 4em;
  }

  footer {
    position: relative;
    margin-top: 4em;
  }
}

@media only screen and (max-width: 470px) {
  header > a > .shadowContainer > img {
    width: 50px;
    right: 7.5px;
  }

  header > a > .shadowContainer {
    width: 60px;
    height: 60px;
  }

  a {
    height: 60px;
  }

  header > h1 {
    margin-left: 5em;
    font-size: 20px;
  }
}

@media only screen and (max-width: 370px) {
  header > a > .shadowContainer > img {
    width: 50px;
    right: 7.5px;
  }

  header > a > .shadowContainer {
    width: 60px;
    height: 60px;
  }

  a {
    height: 60px;
  }

  header > h1 {
    margin-left: 5em;
    font-size: 15px;
  }

  input {
    width: 200px;
  }

  #val {
    width: 200px;
  }
}
