:root {
  --background: #323232;
  --big-button: #a90f21;
  --small-button: #707070;
  --header: #20252e;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: var(--background);
}

header {
  background-color: var(--header);
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 35px 15px rgba(32, 37, 46, 0.65);
}

header h1 {
  margin: 0;
  color: white;
  font-size: 2.4em;
  font-weight: bold;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.49);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}

h2 {
  margin-bottom: 12px;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65%;
  margin-top: 7%;
}

.individualInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 15vw;
  height: 7vh;
  color: white;
  background-color: var(--small-button);
  border-radius: 15px;
  box-shadow: 4px 0px 26px 5px rgba(0, 0, 0, 0.171);
  cursor: pointer;
  text-align: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: "Roboto";
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

#resInput {
  text-align: left;
  text-indent: 24px;
  border-radius: 15px 0 0 15px;
}

.individualInputContainer > input {
  cursor: default;
}

select {
  text-align: center;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 3vw;
  height: 7.2vh;
  color: white;
  background-color: var(--small-button);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.textInfo {
  text-align: center;
  margin: 6em 0;
}

#val {
  width: 16vw;
  height: 5vw;
  background-color: var(--big-button);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.7em;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 4px 0px 26px 5px rgba(0, 0, 0, 0.102);
}

#val:hover {
  background-color: #a90f21b7;
  color: rgba(255, 255, 255, 0.863);
}

#val:active {
  font-size: 1.66em;
  height: 4.8vw;
  width: 15.8vw;
}

footer {
  color: white;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5px;
  text-align: center;
}
