

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}

h2 {
  margin-bottom: 12px;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 65%;
  margin-top: 7%;
}

.individualInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 18em;
  height: 4em;
  color: white;
  background-color: var(--small-button);
  border-radius: 15px;
  box-shadow: 4px 0px 26px 5px rgba(0, 0, 0, 0.171);
  cursor: pointer;
  text-align: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: "Roboto";
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

#resInput {
  text-align: left;
  text-indent: 24px;
  border-radius: 15px 0 0 15px;
}

.individualInputContainer > input {
  cursor: default;
}

.inputUnitContainer {
  display: flex;
  flex-wrap: nowrap;
}

select {
  text-align: center;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 3em;
  height: 4.15em;
  color: white;
  background-color: var(--small-button);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  margin-left: 5px;
}

.textInfo {
  text-align: center;
  margin: 6em 0;
}



footer {
  color: white;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5px;
  text-align: center;
}
