<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/Icons8-Ios7-Industry-Resistor.ico" type="image/x-icon">
    <title>Main Menu | Resistores</title>
</head>

<body>
    <header>
        <h1>Projeto Integrado</h1>
    </header>

    <section>
        <div id="container">
            <h2>
                <br>Um ajudante para seus estudos de eletrônica, um amigo para os estudos de resistências.</br>
            </h2>
            <h3>
                Escolha um método de análise de resistor:
            </h3>
        </div>

        <div class="buttons">
            <button id='val' onclick="window.location.href = 'cores.html'">Cores</button>
            <button class="secondButton" id='val' onclick="window.location.href = 'valor.html'">Valores</button>
        </div>
    </section>

    <footer>&copy;Fábio Neves, Newton Miranda, João Vitor Cardoso, Marco Aurélio</footer>
</body>

</html>
